<div class="modal" [class.active]="isActive">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <h2>User Settings</h2>
      <form #updateForm="ngForm" (ngSubmit)="onSubmit(updateForm)">
        <div class="form-group">
          <label for="name">Name</label>
          <div class="editable">
            <input type="text" id="name" [(ngModel)]="user.name" name="name" [readonly]="!isEditing['name']">
            <button type="button" (click)="toggleEdit('name')">{{ isEditing['name'] ? 'Save' : 'Edit' }}</button>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <div class="editable">
            <input type="email" id="email" [(ngModel)]="user.email" name="email" [readonly]="!isEditing['email']">
            <button type="button" (click)="toggleEdit('email')">{{ isEditing['email'] ? 'Save' : 'Edit' }}</button>
          </div>
        </div>
        <div class="form-group">
          <label for="currentPassword">Current Password</label>
          <input type="password" id="currentPassword" [(ngModel)]="user.currentPassword" name="currentPassword" (blur)="checkCurrentPassword()">
          <div class="error" *ngIf="currentPasswordError">{{ currentPasswordError }}</div>
        </div>
        <div class="form-group">
          <label for="newPassword">New Password</label>
          <input type="password" id="newPassword" [(ngModel)]="user.newPassword" name="newPassword" [disabled]="!isCurrentPasswordValid">
        </div>
        <button type="submit" [disabled]="updateForm.invalid">Update</button>
      </form>
    </div>
  </div>
  