.dashboard-container {
  display: grid;
  grid-template-areas: 
    "nav nav nav"
    "sidebar content content";
  grid-template-columns: 250px 1fr;
  grid-template-rows: 80px 1fr; // Adjusted for navbar height
  height: 100vh;

  app-admin-navbar {
    grid-area: nav;
  }

  app-admin-sidebar {
    grid-area: sidebar;
  }

  .content {
    grid-area: content;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: 24px;
      margin-bottom: 20px;
    }

    img {
      width: 50%; // Maintain size or adjust based on preference
      height: auto;
      border-radius: 8px;
    }
  }
}
