.add-teacher-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    form {
      width: 100%;
      display: flex;
      flex-direction: column;
  
      input[type='text'],
      input[type='email'],
      input[type='password']{
        width: calc(100% - 20px);
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 16px;
      }
  
      button[type='submit'] {
        background-color: #4CAF50; /* Green */
        color: white;
        padding: 10px 20px;
        margin: 10px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        width: 100%;
        box-sizing: border-box;
      }
  
      button[type='submit']:disabled {
        background-color: #cccccc;
        cursor: not-allowed;
      }
    }
  }
  