<div class="dashboard-container">
    <app-student-navbar></app-student-navbar>
    <app-student-sidebar></app-student-sidebar>
    <main class="content">
      <div class="controls">
        <input type="text" [(ngModel)]="searchTerm" placeholder="Search courses..." (input)="filterCourses()" class="search-bar">
      </div>
      <div class="course-list" *ngIf="filteredCourses.length > 0; else noResultsTemplate">
        <table>
          <thead>
            <tr>
              <th>Course ID</th>
              <th>Course Name</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let course of filteredCourses">
              <td>{{ course.courseId }}</td>
              <td>{{ course.courseName }}</td>
              <td>{{ course.startDate | date }}</td>
              <td>{{ course.endDate | date }}</td>
              <td>
                <button (click)="unenrollCourse(course)" class="btn-unenroll">Unenroll</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <ng-template #noResultsTemplate>
        <div class="no-results">
          <img src="../../assets/1.png" alt="No results found">
          <p>No results found</p>
        </div>
      </ng-template>
    </main>
  </div>
  