.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
  
    .login-form {
      padding: 2rem;
      background: white;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      width: 100%;
      max-width: 400px;
  
      h2 {
        text-align: center;
        color: #333;
      }
  
      .form-group {
        margin-bottom: 1rem;
  
        label {
          display: block;
          margin-bottom: .5rem;
          color: #666;
        }
  
        input {
          width: 100%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
  
          &:focus {
            border-color: #0056b3;
            box-shadow: 0 0 0 0.2rem rgba(0, 86, 179, 0.25);
          }
        }
      }
  
      .form-actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
  
        .checkbox {
          input {
            margin-right: 5px;
          }
        }
      }
  
      button {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
  
        &:hover {
          background-color: #0056b3;
        }
      }
  
      p {
        text-align: center;
        a {
          color: #007bff;
          text-decoration: none;
  
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  
    .login-image {
      display: none; // Hide by default, show in larger screens if necessary
    }
  }
  
  @media (min-width: 768px) {
    .login-container {
      flex-direction: row;
  
      .login-form {
        margin-right: 20px; 
      }
  
      .login-image {
        display: block;
        width: 50%;
        img {
          width: 100%;
          height: auto;
          border-radius: 10px;
        }
      }
    }
  }
  