<div class="landing-page">
    <div class="header">
      <h1>Welcome to Our Educational Platform</h1>
      <p>Your gateway to manage and access educational resources efficiently.</p>
    </div>
    <div class="options">
      <div class="option" (click)="navigateTo('/login')">
        <img src="../../assets/admin.jpg" alt="Admin">
        <h2>Admin</h2>
        <p>Manage the platform, users, and content.</p>
      </div>
      <div class="option" (click)="navigateTo('/student-login')">
        <img src="../../assets/student.png" alt="Student">
        <h2>Student</h2>
        <p>Access your courses, assignments, and grades.</p>
      </div>
      <div class="option" (click)="navigateTo('/teacher-login')">
        <img src="../../assets/teacher.png" alt="Teacher">
        <h2>Teacher</h2>
        <p>Manage your classes, assignments, and student progress.</p>
      </div>
    </div>
  </div>
  