<div class="dashboard-container">
  <app-admin-navbar></app-admin-navbar>
  <app-admin-sidebar></app-admin-sidebar>
  <main class="content">
    <div class="controls">
      <input type="text" [(ngModel)]="searchTerm" placeholder="Search courses..." (input)="filterCourses()" class="search-bar">
      <button class="add-button" (click)="showAddCourseModal = true">Add Course</button>
    </div>
    <div class="course-list" *ngIf="filteredCourses.length > 0; else noResultsTemplate">
      <table>
        <thead>
          <tr>
            <th>Course ID</th>
            <th>Course Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let course of filteredCourses">
            <td>{{ course.courseId }}</td>
            <td>{{ course.courseName }}</td>
            <td>{{ course.startDate | date }}</td>
            <td>{{ course.endDate | date }}</td>
            <td>
              <button class="btn-assign" (click)="assignTeachers(course)">Assign Teachers</button>
              <button class="btn-delete" (click)="confirmDeleteCourse(course)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="showAddCourseModal" class="modal">
      <div class="modal-content">
        <span class="close" (click)="showAddCourseModal = false">&times;</span>
        <app-admin-add-course (courseAdded)="onCourseAdded()"></app-admin-add-course>
      </div>
    </div>
    <div *ngIf="showAssignCourseModal" class="modal">
      <div class="modal-content small-modal">
        <span class="close" (click)="showAssignCourseModal = false">&times;</span>
        <app-admin-assign-course [course]="selectedCourse" (courseAssigned)="onCourseAssigned()"></app-admin-assign-course>
      </div>
    </div>
    <div *ngIf="showDeleteCourseModal" class="modal">
      <div class="modal-content small-modal">
        <span class="close" (click)="showDeleteCourseModal = false">&times;</span>
        <p>Are you sure you want to delete the course {{ courseToDelete?.courseName }}?</p>
        <div class="modal-actions">
          <button class="btn-confirm" (click)="deleteCourse()">Yes, delete</button>
          <button class="btn-cancel" (click)="showDeleteCourseModal = false">Cancel</button>
        </div>
      </div>
    </div>
  </main>
  <ng-template #noResultsTemplate>
    <div class="no-results">
      <img src="../../assets/1.png" alt="No results found">
      <p>No results found</p>
    </div>
  </ng-template>
</div>
