<div class="auth-container">
  <div class="auth-image">
    <img src="../../assets/20943446.jpg" alt="Decorative"> <!-- Update the path accordingly -->
  </div>
  <div class="auth-panel">
    <h1>Admin Registration</h1>
    <form (ngSubmit)="register()" novalidate>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="name" name="name" class="form-control" id="name" placeholder="Enter Name" required>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" [(ngModel)]="email" name="email" class="form-control" id="email" placeholder="Enter Email" required>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" [(ngModel)]="password" name="password" class="form-control" id="password" placeholder="Enter Password" required>
      </div>

      <div class="form-group">
        <label for="CNIC">CNIC</label>
        <input type="text" [(ngModel)]="CNIC" name="CNIC" class="form-control" id="CNIC" placeholder="Enter CNIC" required>
      </div>

      <div class="form-group">
        <label for="contact">Contact</label>
        <input type="text" [(ngModel)]="contact" name="contact" class="form-control" id="contact" placeholder="Enter Contact Number" required>
      </div>

      <button type="submit" class="btn btn-primary">Register</button>
      <button type="button" class="btn btn-secondary" (click)="goToLogin()">Back to Login</button>
    </form>
  </div>
</div>
